GITHUB_OWNER=nexu-io
GITHUB_REPO=open-design
GITHUB_ORG=nexu-io
GITHUB_APP_ID=123456
GITHUB_APP_INSTALLATION_ID=78901234
GITHUB_APP_PRIVATE_KEY_BASE64=base64_encoded_pem_private_key
GITHUB_REQUEST_CONCURRENCY=8
